# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
*.xml
out

*/**/__pycache__

*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*

*/.ipynb_checkpoints
*/**/.ipynb_checkpoints
*/**/**/.ipynb_checkpoints

*/**/*.csv
*/**/**/*.csv
*/**/**/**/*.csv

*/**/Untitled.ipynb
*/**/**/Untitled.ipynb