# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
*.xml
out


*.tar.gz

*/**/__pycache__
*/**/**/__pycache__

*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*

*/.ipynb_checkpoints
*/**/.ipynb_checkpoints
*/**/**/.ipynb_checkpoints


*.csv
*.Untitled.ipynb

*/**/**/cifar-10-batches-py
*.pth
*.html

